html, body {
    background: #000;
}

body {
    color: rgb(230, 230, 230);
    font-family: "Ojuju", sans-serif;
}

#main {
    margin: 5em auto;
    max-width: 40em;
}

#info {
    margin: 3em 0 3em 3em;
}

h2 {
    color: rgb(133 133 133);
}

.cohort-list {
    color: rgb(111 111 111);
    list-style: none;
    margin: 0;
    padding: 0;
}

.cohort-list li {
    margin: 0.75em 0;
}